- Anonymous fn - Hide ===> no need to declare or given game to this function  
   - def addition ():
- lamda function will take any no. of argument /parametr /variables but it will take only one expression 
- immediate answer ,when we have only one expression

In [ ]:
#syntax 
#variable===.lamda argument /parameter /variables: expression

In [5]:
#addition of 3 numbers 
def add(a,b,c):
    return a+b+c, a-b-c

add(1,2,4)

(7, -5)

In [9]:
x=lambda a,b,c : a+b+c
x(1,2,4)

7

In [10]:
#square of a number
def sqr(num):
    return num*num   #num**2

In [11]:
sqr(10)

100

In [13]:
sqr= lambda num:num**2
sqr(10)   #variable name (parameter value)

100

In [17]:
#adding 20 to any number
def adding_20(n):
    return  n+20
adding_20(20)

40

In [18]:
a=lambda n:n+20
a(20)

40

# conditional value with lambda

In [24]:
#check score , if score<35,   "fail"  ,otherwise "pass"
#regular def function 
def score_ckecking(score):
    if score<35:
        print("fail")
    else:
        print("pass")

score_ckecking(55)

pass

In [30]:
score_checking=lambda score: "Pass" if score>35 else "Fail"
score_checking(34)

'Fail'

## lamda function with map(),filter(),reduce() and sorted()

In [36]:
#filter
#list:filter values from any list
#l=[1,2,45,-4,-5,6,-7]====>filter positive number and negative numbers 
#regular function 
def filter_numbers(sequence):
    positive=[]
    negative=[]
    for num in sequence:
        if num>0:
            positive.append(num)
        else:
            negative.append(num)
    #return positive,negative
    print(positive)
    print(negative)
          


filter_numbers([1,2,45,-4,-5,6,-7])

[1, 2, 45, 6]
[-4, -5, -7]

In [46]:
#using filter()fun and lambda
#filter():===>syntax==> list(filter(fn name,sequence())

l=[1,2,45,-4,-5,6,-7]
positive=list(filter(lambda x:x>0,l))
negative=list(filter(lambda x:x<0,l))

print(positive)
print(negative)

[1, 2, 45, 6]
[-4, -5, -7]

In [52]:
list1=[1,2,3,1,3,4,6,7,9,5,6,81,2,4,6,8,9,10]
#filter even
def even(sequence):
    e=[]
    for i in sequence:
        if i%2==0:
            e.append(i)

    return e

even(list1)

[2, 4, 6, 6, 2, 4, 6, 8, 10]

In [54]:
even=list(filter(lambda i:i%2==0,list1))
even

[2, 4, 6, 6, 2, 4, 6, 8, 10]

# Task

In [ ]:
# 1 filter strings staring with "A"
name=["Aniket","Adity","chetna","Alok","Anil"]
#2filter student who passed marks>50)
student=[
    {"name":"neha","Marks":78},
    "name":"Ravi","Marks":45},
    "name":"sneha","Marks":60},
]
#3 filter non empty strings 
words=["apple","","banana","","kiwi"]

In [6]:
# 1 filter strings staring with "A"
name=["Aniket","Adity","chetna","Alok","Anil"]
def filter_string(l):
    for word in l:
        if word.startswith("A"):
            print(word)

filter_string(name)

Aniket
Adity
Alok
Anil

In [8]:
words=list(filter(lambda i:i.startswith("A"),name))
words

['Aniket', 'Adity', 'Alok', 'Anil']

In [14]:
#2filter student who passed marks>50)
students=[
    {"name":"neha","Marks":78},
    {"name":"Ravi","Marks":45},
    {"name":"sneha","Marks":60},
]
def filter_student(sequence):
    for i in sequence:
        if i ["Marks"]>50:
            print(i)

filter_student(students)

{'name': 'neha', 'Marks': 78}
{'name': 'sneha', 'Marks': 60}

In [17]:
passed=list(filter(lambda i:i["Marks"]>50,students))
passed

[{'name': 'neha', 'Marks': 78}, {'name': 'sneha', 'Marks': 60}]

In [19]:
#3 filter non empty strings 
words=["apple","","banana","","kiwi"]
def non_empty_str(l):
    for i in l:
        if i!="":
            print(i)

non_empty_str(words)

apple
banana
kiwi

In [20]:
non_empty_str=list(filter(lambda i:i!="",words))
non_empty_str

['apple', 'banana', 'kiwi']

In [22]:
#4 filter words with length>5
words=["hello","elephant","fantastic","python"]
def len_greater_than(l):
    for i in l:
        if len(i)>5:
            print(i)

len_greater_than(words)

elephant
fantastic
python

In [23]:
len_greater_than5=list(filter(lambda i:len(i)>5,words))
len_greater_than5

['elephant', 'fantastic', 'python']

In [25]:
#lambda with map(): if applies given formula on every elements present in sequence 

num=[2,34,6,7,3,3,5,67,8]
#square of every number presentt in a list 
def sqr(s):
    l=[]
    for i in s:
        l.append(i*i)

    return l

sqr(num)

[4, 1156, 36, 49, 9, 9, 25, 4489, 64]

In [26]:
num=[2,34,6,7,3,3,5,67,8]
sqr=list(map(lambda i:i*i*i,num))
sqr

[8, 39304, 216, 343, 27, 27, 125, 300763, 512]