- for loop
- While loop

## Looping, repating something

- string ,list,tuple,set dict====> literable object
- ordered===> string,list tuple
- unordered set ===> set

In [ ]:
a=123 #we can apply for the loop

# For loop: limit

## print first 20 numbers

In [6]:
#syntax
#if conditition
#   statment
# syntax of for looop
# for variablein range (start,stop,step): #vslicing: l[start:stop:step]



for num in range (1,21):
    print(num)#first for loop num=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [8]:
#initilization
list1=[]
for num in range (1,20):
   # print(num)
    list1.append(num)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
#initilization
list1=[]
for num in range (0,21,3):
   # print(num)
    list1.append(num)
print(list1)

[0, 3, 6, 9, 12, 15, 18]

In [11]:
#repeat python word 100 times
"python"*100

'pythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpython'

In [19]:
for word in range(1,50):
    print(num)
    print("python"*4)
#first for loop
#num=1
#1
#pythonpythonpythonpython

18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython
18
pythonpythonpythonpython

In [22]:
for data in range(0,10,2):
    print("data")
#result data

data
data
data
data
data

# sum of first 10 numbers

In [30]:
#initilization
total=0
for i in range (1,11):
    total=total+i
print(total)

55

In [32]:
a=0
a=a+10
a

10

In [33]:
a=0
a+=10
a

10

In [1]:
a=10
a=a-5
a

5

In [2]:
a=100
a-=5
a

95

In [22]:
range1=int(input("enter a range:")) #100
total=0
for i in range(1,range1+1):
    #total=total+1
    total+=i

print(total)

enter a range: 101

5151

In [23]:
print("Aniket")

Aniket

In [24]:
print(12+23)

35

In [26]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [29]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [30]:
#Multiplication of fitrst 100 numbers
1+2+3+4+5+6+7+8+9+10

55

In [31]:
1*2*3*4*5*6*7*8*9*10

3628800

In [39]:
#initilization
mult=1
for i in range(1,11):
    mult=mult*i
#i=3
#2*3
mult

3628800

In [41]:
range1=int(input("plz enter your range:"))
mult=1
for i in range(1,range1+1):
    mult=mult*i
#i=3
#2*3
mult

plz enter your range: 50

30414093201713378043612608166064768844377641568960512000000000000

# calculate square and square root of first 10 numbers

In [48]:
square=[]
squareroot=[]
for i in range(1,11):
    square.append(i**2)
    squareroot.append(i**0.5)

print(square)
print(squareroot)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]

# string,list,tuple,set,dict

### appling for loop on a list

In [52]:
l=[1,3,5,7,98,5,2,8,9,0,6,6]
#square
for num in l:
    print(num*num)

1
9
25
49
9604
25
4
64
81
0
36
36

In [58]:
import math
#form math imput sqrt
square=[]
squareroot=[]
for i in range(1,11):
    square.append(math.pow(i,2))
    squareroot.append(math.sqrt(i))

print(square)
print(squareroot)

[1.0, 4.0, 9.0, 16.0, 25.0, 36.0, 49.0, 64.0, 81.0, 100.0]
[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]

In [64]:
l=[1,3,5,7,98,5,2,8,9,0,6,6]
sqr=[]
#square
for num in l:
    sqr.append(num*num)
print(sqr)

[1, 9, 25, 49, 9604, 25, 4, 64, 81, 0, 36, 36]

# Task

In [ ]:
l=[1,3,5,7,98,5,2,8,9,0,6,6,0,1,2,3,5,9,8,6,7,17,13]
#seprate even and odd
l1=[1,4,3,4,6,6,,"data","python","science"]
#seprate text data

In [67]:
l=[1,3,5,7,98,5,2,8,9,0,6,6,0,1,2,3,5,9,8,6,7,17,13]
#seprate even and odd number
even=[]
odd=[]
for num in l:
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
print(even)
print(odd)

[98, 2, 8, 0, 6, 6, 0, 2, 8, 6]
[1, 3, 5, 7, 5, 9, 1, 3, 5, 9, 7, 17, 13]

In [73]:
l1=[1,4,3,4,6,6,"data","python","science"]
#seprate text data 
for i in l1:
    if type(i)==str:
        print(i)

data
python
science

In [79]:
l1=[1,4,3,4,6,6,"data","python","science"]
#seprate text data 
for i in l1:
    if str(i).isalpha()==True:
        print(i)

data
python
science

In [4]:
"data".isalpha()

True

In [5]:
s="data analysis"
s.split(",")  #string to list

['data analysis']

# Homework

In [6]:
l=[-1.2,4,6,3,23,-5,-6,2,-5,-10]
#seprate positive numbers and negative numbers 
#factorial of a given number using for lopp

In [25]:
l=[-1,2,4,6,3,23,-5,-6,2,-5,-10]
#seprate positive numbers and negative numbers 
positive=[]
negative=[]

for i in l:
    if i > 0:
        positive.append(i)
    elif i==0:
        print("0 is present in list which is nutral")
    else:
        negative.append(i)
print(positive)
print(negative)

[2, 4, 6, 3, 23, 2]
[-1, -5, -6, -5, -10]

In [26]:
num=8
factorial = 1
for i in range(1,num+1):
    factorial*=i
print( factorial)

40320

In [27]:
8*7*6*5*4*3*2*1

40320

In [29]:
import math

In [30]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [33]:
#from math import factorial<sqrt
math.factorial(30)

265252859812191058636308480000000

## Table of a number

In [36]:
#10
num=int(input("enter a number:"))
for i in range (1,11):
    print(num*i)
#1st for loop :5 *1=5
#2st for loop :5 *2=10

enter a number: 4

4
8
12
16
20
24
28
32
36
40

In [38]:
#5  x  1=5
#5  x  2=10
num=int(input("enter a number:"))
for i in range (1,11):
    print(num,"x",i,"=",num*i)

enter a number: 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# f-string

- formated string 
- output format
- syntax : print(f"student name is {variable}")

In [43]:
name=input("enter your name:")
sirname=input("enter your sirname:")
print("student full name is :",name+" "+sirname)
print(f" student name is {name} {sirname}")

enter your name: aniket
enter your sirname: unde

student full name is : aniket unde
 student name is aniket unde

In [46]:
num=int(input("enter num:"))
for i in range(1,11):
    #print(num,"*",i,"=",num*i)
    print(f"{num} * {i} = {num*i}")

enter num: 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## counting of element from list

In [50]:
l=[1,2,3,4,5,6,7,8,6,22]
l.count(6)

2

In [60]:
#using for loop
l=[12,1,2,2,3,1,1,2,3,3]

#initilization
count_of_element=0
target_element=int(input("enter elemnt:"))
for item in l:
    if item==target_element:
        count_of_element=count_of_element+1
print(count_of_element)

enter elemnt: 12

1

## counting character from string

In [64]:
s="data science" #character by character
s.count("a")

2

In [69]:
s.count("data")

1

In [67]:
count_of_character=0
target_character=(input("enter elemnt:"))
for character in s:
    if character==target_character:
        count_of_character=count_of_character+1
print(count_of_character)

enter elemnt: D

0

# Counting single character + word

In [1]:
s="data science"
s.split()

['data', 'science']

In [10]:
s="data science"   #string to list
count_of_character=0
target_character=(input("enter elemnt:"))   #data
for character in s:
    if character==target_character:
        count_of_character=count_of_character+1
else:
    s_list=s.split()
    for j in s_list:
        if j==target_character:
            count_of_character=count_of_character+1
print(count_of_character)

enter elemnt: a

2

# calculate average

In [12]:
l=[1,2,4,6,67,4,4,56,7]
#sum,min,max,len
import statistics
print(dir(statistics))

['Counter', 'Decimal', 'Fraction', 'LinearRegression', 'NormalDist', 'StatisticsError', '_SQRT2', '__all__', '__annotations__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_coerce', '_convert', '_decimal_sqrt_of_frac', '_exact_ratio', '_fail_neg', '_float_sqrt_of_frac', '_integer_sqrt_of_frac_rto', '_isfinite', '_mean_stdev', '_normal_dist_inv_cdf', '_rank', '_sqrt_bit_width', '_ss', '_sum', 'bisect_left', 'bisect_right', 'correlation', 'count', 'covariance', 'defaultdict', 'erf', 'exp', 'fabs', 'fmean', 'fsum', 'geometric_mean', 'groupby', 'harmonic_mean', 'hypot', 'itemgetter', 'linear_regression', 'log', 'math', 'mean', 'median', 'median_grouped', 'median_high', 'median_low', 'mode', 'multimode', 'namedtuple', 'numbers', 'pstdev', 'pvariance', 'quantiles', 'random', 'reduce', 'repeat', 'sqrt', 'stdev', 'sumprod', 'sys', 'tau', 'variance']

In [13]:
statistics.mean(l)

16.77777777777778

In [15]:
sum(l)

151

In [19]:
#average=total/len
total=0
for i in l:
    total=total+i
average=total/len(l)
average

16.77777777777778

# Reverse each word in list

In [20]:
a="data"
a[::-1]

'atad'

In [24]:
l=["data","science","analysis"]
l[::-1]

['analysis', 'science', 'data']

In [29]:
l=["data","science","analysis"]
reverse=[]
for i in l:
    r=i[::-1]
    reverse.append(r)
reverse

['atad', 'ecneics', 'sisylana']

# Task

In [ ]:
# 1.find colours startwith letters "b"
colors=["red","blue","green","black"]  #startwith()
# 2. find palindromes  : nayan
list1["python","radar","nayan","data","level"]

In [6]:
colors=["red","blue","green","black"] 
for word in colors:
    if word.startswith("b"):
         print(word)

blue
black

In [8]:
list1=["python","radar","nayan","data","level"]
palindromes=[]
for i in list1:
    if i ==i[::-1]:
        palindromes.append(i)
palindromes

['radar', 'nayan', 'level']

# Homework

In [ ]:
#1.reverse digits in a given tuple
t=(123,345,678,213,567,890)

In [14]:
t=(123,345,678,213,567,890)
reverse_digits=[]
for i in t:
    integer=str(i)
    reverse_int=integer[::-1]
    reverse_digits.append(int(reverse_int))
reverse_digits

[321, 543, 876, 312, 765, 98]

In [2]:
#2. find minimum and maximun numbers from the list without using function
l=[0,12,3,4,5,2,2,34,4,5566,7,7,89,9]
print(max(l))
print(min(l))

5566
0

In [ ]:

l=eval(input("plz enter elements"))
maximum=l[-1]
minimum=l[-1]
for num in l:
    if num>maximum:
        maximum=num
    if num<minimum:
        minimum=num
print("maximum:",maximum)
print("minimum:",minimum)