# File operations

In [1]:
#how  to read,write ,append data in files (text,excel,ans csv ,html,json)

# Reading text file

.txt

modes of files
- read(): "r"
- write(): "w"
- append: write(): "a"
- read+write="r+"

In [11]:
#read(): "r"
#we nmeed existing files in ourv system to read in python 
#syntax : open(path,mode)
data=open(r"C:\Users\anike\Downloads\demo.txt.txt","r")
data.read()

'I am learning\t\t file operation\ni am data scientist'

In [8]:
data.close()

In [17]:
data=open(r"C:\Users\anike\Downloads\demo.txt.txt","r")
for content in data:
    print(content)

I am learning		 file operation

i am data scientist

In [18]:
regular_string="data science"

In [ ]:
r"path"
r : raw string

In [19]:
data.close()

In [47]:
#write():"w"
#it will generate new file automatically in than folder and then write data 
# if file is existing then it will write data in that file 
data2=open(r"C:\Users\anike\Downloads\demo.txt","w")
data2.write("writing data in new file")

24

In [48]:
data2.close()

In [49]:
data3=open(r"C:\Users\anike\Downloads\demo.txt","w")
data3.write("I am from ratnagiri")
#if file is existing and it contains somes text,thenn write function will delete that contain and it will add new text

19

In [50]:
data3.close()

# append mode: "a":write()

In [3]:
data4=open(r"C:\Users\anike\Downloads\demo.txt","a")
data4.write("\nI am data scientist")
data4.write("\nI am learning file operations")

30

In [4]:
data4.close()

# Reading excel and CSV files

In [1]:
# Install 
#pip install pandas 
#pip: python installation package 
import pandas as pd

In [2]:
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_built_with_meson', '_config', '_is_numpy_dev', '_libs', '_pandas_datetime_CAPI', '_pandas_parser_CAPI', '_testing', '_typing', '_version_meson', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [3]:
#.xlsx/ xls:read_excel(r"path")
#.csv:read_csv(r"path")

In [6]:
data=pd.read_excel(r"C:\Users\anike\Downloads\excel project\Excel-project-1\Excel priject 1.xlsx")
data

,Row ID,Order ID,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,...,Quantity,Profit,Shipping Cost,Order Priority,Target,Manager,Team lead,Gender,Order Date,Ship Date
0,1,IN-2014-54694,Standard Class,HG-14845,Harry Greene,Consumer,Rajkot,Gujarat,India,West,...,2,23.70,2.15,Medium,386,Mahesh,Mohit,Male,2024-01-12,2024-05-12
1,2,IN-2013-53763,Standard Class,AR-10510,Andrew Roberts,Consumer,Durg,Chhattisgarh,India,East,...,2,2.04,1.50,Medium,401,Mahesh,Mohan,Female,2023-12-27,2023-12-31
2,3,IN-2014-15473,Standard Class,TP-21130,Theone Pippenger,Consumer,Mangalore,Karnataka,India,South,...,2,0.24,0.79,Medium,293,Mahesh,Manu,Female,2024-02-12,2024-07-12
3,4,IN-2014-24622,Standard Class,MM-17920,Michael Moore,Consumer,Bijapur,Karnataka,India,South,...,2,4.44,0.14,Medium,609,Mahesh,Meena,Female,2024-10-22,2024-10-28
4,5,IN-2012-29130,Standard Class,JR-15700,Jocasta Rupert,Consumer,Kollam,Kerala,India,South,...,2,54.66,11.12,Medium,750,Mahesh,Mohan,Male,2021-09-27,2021-01-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,1551,IN-2014-66510,Standard Class,SC-20380,Shahid Collister,Consumer,Delhi,Delhi,India,North,...,3,69.75,13.99,Medium,499,Suresh,Suma,Male,2022-06-16,2022-06-22
1551,1552,IN-2014-63325,Standard Class,JK-16090,Juliana Krohn,Consumer,Indore,Madhya Pradesh,India,West,...,5,4.20,11.11,Medium,201,Suresh,Suraj,Female,2022-05-06,2022-10-06
1552,1553,IN-2011-43109,Standard Class,WB-21850,William Brown,Consumer,Amravati,Maharashtra,India,West,...,6,40.86,60.19,Medium,442,Suresh,Suma,Female,2021-12-17,2021-12-21
1553,1554,IN-2011-12288,Standard Class,JS-15880,John Stevenson,Consumer,Vadodara,Gujarat,India,West,...,7,162.54,89.01,Medium,95,Suresh,Sumita,Male,2023-06-26,2023-01-07
1554,1555,IN-2013-14675,Standard Class,CS-12130,Chad Sievert,Consumer,Bilaspur,Uttar Pradesh,India,North,...,2,60.24,74.65,Medium,542,Suresh,Sunil,Female,2022-01-26,2022-01-30

In [ ]:
data["Average covered charges "].sum()

In [5]:
data_csv=pd.read_csv(r"C:\Users\anike\Downloads\Uncleaned_DS_jobs.csv")
data_csv

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676,635,Data Scientist,$92K-$155K (Glassdoor est.),"Job Description\nBlackstone Talent Group, an a...",3.5,Blackstone Talent Group\n3.5,"San Francisco, CA","San Francisco, CA",51 to 200 employees,1998,Company - Private,Consulting,Business Services,$25 to $50 million (USD),-1
677,636,Data Scientist - TS/SCI Required,$92K-$155K (Glassdoor est.),US Citizenship Required and (TS or TS/SCI) Req...,5.0,Phoenix Operations Group\n5.0,"Baltimore, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,$1 to $5 million (USD),-1
678,637,Data Scientist,$92K-$155K (Glassdoor est.),Job Description\nWorking at Sophinea\n\nSophin...,-1.0,Sophinea,"Chantilly, VA",-1,1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1
679,638,Senior Data Scientist,$92K-$155K (Glassdoor est.),Do you have a head for numbers? Like turning r...,3.5,Maxar Technologies\n3.5,"Herndon, VA","Westminster, CO",5001 to 10000 employees,-1,Company - Public,Aerospace & Defense,Aerospace & Defense,$2 to $5 billion (USD),-1
680,639,Data Scientist,$92K-$155K (Glassdoor est.),Who is Moxie?\n\nMoxie is a company on a missi...,3.0,Moxie Software\n3.0,"Bellevue, WA","San Bruno, CA",51 to 200 employees,1999,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,"LivePerson, Salesforce, SAP"

# Reading HTML or XML files

In [8]:
#webscraping 
#Beautifulsoup modual present in bs4
#ETL(exteraxt transfer and load)
#package/library===> moduaes===>functions 
#statics===>math====>factorial

In [5]:
from bs4 import BeautifulSoup as bs

In [6]:
HTML_file=open(r"C:\Users\anike\Downloads\html.html")

In [7]:
HTML_file

In [8]:
cleaned_data=bs(HTML_file,"html")

In [9]:
cleaned_data

<!DOCTYPE html>
<html lang="en">
<head>
<meta chaset="UTF-8"/>
<meta content="chetana vasave" name="author"/>
<meta content="The official website for the training institute" name="description"/>
<title>Educational Training Institute</title>
</head><body><img src="D:\Chetana\HTML\icon.jpg"/>
<b>Welcome to the SPEEDUP | PUNE!</b>
</body></html>

In [10]:
title_tags=cleaned_data.find_all("title")
title_tags

In [11]:
for tags in title_tags:
    print(tags.get_text())

Educational Training Institute

In [15]:
b_tag=cleaned_data.find_all("b")
b_tag

In [16]:
for i in b_tag:
    print(i.get_text())

Welcome to the SPEEDUP | PUNE!

In [17]:
#xml 
data_xml=open(r"C:\Users\anike\Downloads\books.xml")
data_xml

In [22]:
structured_xml=bs(data_xml,"xml")
structured_xml

<?xml version="1.0" encoding="utf-8"?>

In [24]:
title_tags=structured_xml.find_all("title")
title_tags

[]