# Day 2

## python interpreted language / compiler

In [1]:
#shit+enter
#heading===> select===>alt+m,====>1,2,3===>shift+enter
print("aniket")
print("nikhil")

aniket
nikhil

In [5]:
#shit+enter
#heading===> select===>alt+m,====>1,2,3===>shift+enter
print("aniket")
print("nikhil")

aniket
nikhil

## python is a interpreted language because it run code line by line

In [ ]:
#c===>compiler based

 token = individuals unit in a program
 - keywords: predefine words 
 - variables / identifires: data storing===>memory location name
 - literals: a data given to a variables 
   - e.g. a=90(numaric), name="chetana"(text),1=[1,2,3](list)
 - operatotrs(= : assignment opperators),<,>,<=
 -  punctuators("",,:)

In [7]:
name=str(input("Entaer your name:"))
marks=float(input("enter your marks:"))
if marks>60:
    print("pass")
else:
    print("fail")

Entaer your name: aniket
enter your marks: 50

fail

In [8]:
a=90
b=78
print(a+b)

168

In [9]:
a=188
b=78
print(a+b)

266

# Variables

## Rules of variables

- variables name start with letters (a-z,A-Z/ start with (_))

_name="aniket"
radus_of_circle=4.5
- in variable name dont use spaces or dashes
- variable name  : both start with nmbers 
   1a=45(wron)
   a1=45(right)
- we cant use keywords as a variable name
- variable name are case sensitive

In [10]:
print("aniket")
#display

aniket

In [ ]:
#print=90

In [ ]:
#kernal restart

In [ ]:
NAME="chetna"
Name="aniket"
name="nikhil"

In [ ]:
myvar="john"  #correct
my_var="john" #correct
_my_var="john" #correct
myVar="john" #correct
MYVAR="john" #correct
myvar2="john" #correct
2myvar="john" #incorrect
my-var="john"  #incorrect
my var="john  #incorrect

we cane name the variable in three ways 
- 1. complex way
jhhlhgg=45
hkhklhlh=78
jhjgkhggkfgkg=bkjhjgjg*hggkggf
print(khggg)

- 2.easier way
x=450
y=78
z=x*y

-3. understable way 
payment_per_day=450
days_of_working=78
total_salary=payment_per_day*days_of_working

## More on variable

In [ ]:
a=1
b=1
c=1

a=b=c=1
name,sirname,age,course="aniket","unde",26,"data science"

### Literals:a data which is given in a variables or constant

- 1. float/numaric literals
- 2. text/string literals 
- 3. Boolean literals e. g a=true 
- 4. collection literals : to store multiple values 
   - list: 1 =[ 1,2,3,"aniket"]
   - tuple: t=(1,2,5)
   - set:{1,2,3}
- 5. special literals
     - dict :key and value pair
    - d={"name":"aniket"}

### Examples

In [11]:
#calculate area of circle (r=6)
#Required: formula ==>pie *radius*radius
radius=6 #var1
pie=3.14  #var2
area_of_circle=pie*radius*radius
print(area_of_circle)

113.03999999999999

In [12]:
radius=5
pie=3.14
are_of_circle=pie*radius**2
print(area_of_circle)

113.03999999999999

In [13]:
#calculate are of triangle 
base=4
height=2
area_of_triangle=1/2*base*height
print(area_of_triangle)

4.0