# Dictory

- { key: value,key2:value2}
- mutable
- not allow duplicate(duplicate key not allowed)
- ordered: key====>index
     - as a pythion version 3.7 dict are ordered 
     - in python 3.6 and earlier , dict are unordered
- key immutable element(string,int, tuple )
- value : immutable/mutable elements 
- any changes we wiil do... we will use key

In [60]:
data={"name":"aniket","id":1,"course":["python","AI"]}
data

{'name': 'aniket', 'id': 1, 'course': ['python', 'AI']}

In [61]:
d1={1:"name",(1,23):"aniket"}

In [62]:
d2={[1,2,3]:"name"}

TypeError: unhashable type: 'list'

In [63]:
l=[4,5,6]
l[0]=400
l

[400, 5, 6]

# changing Existing key value

In [64]:
# we can change value using key name

In [65]:
data["name"]="nikhil" #replace
data

{'name': 'nikhil', 'id': 1, 'course': ['python', 'AI']}

# adding new key value pair

In [66]:
data["city"]="Ratnagiri"
data

{'name': 'nikhil', 'id': 1, 'course': ['python', 'AI'], 'city': 'Ratnagiri'}

In [67]:
data["name"]="mohan"
data

{'name': 'mohan', 'id': 1, 'course': ['python', 'AI'], 'city': 'Ratnagiri'}

# removing element from dictionary

In [68]:
#del keyword 
del data["name"]
data

{'id': 1, 'course': ['python', 'AI'], 'city': 'Ratnagiri'}

In [69]:
l=[1,2,3,4]  #mutable 
t=(1,2,3,4)  #immutable
s={4,10,7,8}  #mutable

In [70]:
del l[0]
l

[2, 3, 4]

In [71]:
del t(3)

SyntaxError: cannot delete function call (2008991702.py, line 1)

In [72]:
del s[2]  #mutable unordered 
s

TypeError: 'set' object doesn't support item deletion

In [73]:
l=[1,2,3,4]  #mutable 
t=(1,2,3,4)  #immutable
s={4,10,7,8}  #mutable
d={"name":"aniket","id":1}

In [74]:
l.pop() #last element delete

4

In [75]:
l

[1, 2, 3]

In [76]:
l.pop(0)
l

[2, 3]

In [77]:
s.pop()

8

In [78]:
s

{4, 7, 10}

In [79]:
d.pop("id") #index===>key
d

{'name': 'aniket'}

### popitem(): delete last insetred key value-pair

In [80]:
d["course"]="AI"
d

{'name': 'aniket', 'course': 'AI'}

In [81]:
d.popitem()
d

{'name': 'aniket'}

# key():show only key in the format of list

In [82]:
data

{'id': 1, 'course': ['python', 'AI'], 'city': 'Ratnagiri'}

In [83]:
data.keys()

dict_keys(['id', 'course', 'city'])

## values: it will show only values

In [84]:
data.items()

dict_items([('id', 1), ('course', ['python', 'AI']), ('city', 'Ratnagiri')])

## item(): it will show key value pair in the format of tuple

In [85]:
data.items()

dict_items([('id', 1), ('course', ['python', 'AI']), ('city', 'Ratnagiri')])

# How to create dataframe by using list and dict

In [86]:
list1=[["Ram",25,"mumbai"],["Sita",28,"pune"],["John",26,"delhi"]]
import pandas

In [87]:
df1=pandas.DataFrame(list1,columns=["Name","Age","City"])

In [88]:
df1

   Name  Age    City
0   Ram   25  mumbai
1  Sita   28    pune
2  John   26   delhi

In [93]:
dict1={"Name":["Ram","Sita","john"],"Age":[25,28,23],"City":["mumbai","delhi","pune"]}
df2=pandas.DataFrame(dict1)

In [94]:
df2

   Name  Age    City
0   Ram   25  mumbai
1  Sita   28   delhi
2  john   23    pune