In [6]:
#adding
a=int(input("Enter no1:"))
b=int(input("Enter no2:"))
#print(a+b)
c=a+b
print(c)

Enter no1: 12
Enter no2: 15

27

# eval():function :expression

In [7]:
#addition
a=int(input("Enter no1:"))   #str
b=int(input("Enter no2:"))
#print(a+b)
c=a+b
print(c)

Enter no1: 4
Enter no2: 5

9

In [5]:
#addition
a=eval(input("Enter no1:"))   #str
b=eval(input("Enter no2:"))
#print(a+b)
c=a+b
print(c)

Enter no1: 4.5
Enter no2: 8.6

13.1

In [6]:
a=eval(input("Enter no1:"))   #sany data type
b=eval(input("Enter no2:"))
#print(a+b)
c=a+b
print(c)

Enter no1: "aniket"
Enter no2: "unde"

aniketunde

In [8]:
a=eval(input("Enter no1:"))   #any data type 
b=eval(input("Enter no2:"))
#print(a+b)
c=a+b
print(c)

Enter no1: [1,2,3]
Enter no2: [3,4,5]

[1, 2, 3, 3, 4, 5]

In [16]:
a=eval(input("Enter no1:"))   #str
b=eval(input("Enter no2:"))
#print(a+b)
c=a|b
print(c)

Enter no1: {1,2,1,1}
Enter no2: {1,1,1,2}

{1, 2}

In [18]:
# to solve mathematical expression 
#2*x+3*y-8*z
expression="2*x+3*y-8*z" #expression===>string format
x=1
y=7
z=8
solution=eval(expression)
solution

-41

In [19]:
x=1
y=7
z=8
2*x+3*y-8*z

-41

In [20]:
a=2
b=9
c=10
eval("a*a-3*b+8*c")

57

# Logical control statment

- only if 
- if-else
- nested if
- if-elif

In [16]:
age=eval(input("Enter your age:"))
#syntax
#if condition:(after enetring bydefault space(indentation))
#statment
if age>18:
    print("you are eligible")

Enter your age: 45

you are eligible

In [17]:
age=eval(input("Enter your age:"))
if age>18:
    print("you are eligible")
else:
    print("you are not eligible")

Enter your age: 4

you are not eligible

# Even and odd number

In [19]:
#8%2===0
num=float(input("Enter number:")) #8
if num%2==0:
    print("even")
else:
    print("odd")

Enter number: 7

odd

## cheeck if given number is divisible by 5 or not

In [21]:
num=eval(input("enter number:"))
if num%5==0:
    print("divisible by 5")
else:
    print("not divisible by 5")

enter number: 225

divisible by 5

## check pass or fail

In [23]:
marks=float(input("enter marks:"))
if marks>45:
    print("pass")
else:
    print("fail")

enter marks: 50

pass

## larger between two numbers

In [24]:
n1=45
n2=50
if n1>n2:
    print(n1, "is greater")
else:
    print(n2,"is greater")

50 is greater

In [26]:
n1=45
n2=50
if n1<n2:
    print(n1, "is smaller")
else:
    print(n2,"is smaller")

45 is smaller

# if-elief: more than two condition (independend)

## larger between 3 numbers

In [3]:
n1=20
n2=30
n3=40
if n1>n2 and n1>n3:   #f and f====>f
    print(n1," n1 is greater")
elif n2>n1 and n2>n3: #t and f===f
    print(n2,"is greater")
else:
    print(n3," n3 is greater")

40  n3 is greater

In [4]:
n1=int(input("enter num1:"))
n2=int(input("enter num2:"))
n3=int(input("enter num3:"))
if n1>n2 and n1>n3:   #f and t===>f
    print(n1 ," n1 is greater")
elif n2>n1 and n2> n3:  #T and T=T
    print(n2, "n2 is greater")
else:
    print(n3,"n3 is greater")

enter num1: 7
enter num2: 9
enter num3: 2

9 n2 is greater

In [ ]:
n1

# Simple calculator using if-elif

In [22]:
#0-9
num1=eval(input("Enter no1:")) #integer/folat
num2=eval(input("Enter no2:"))  #int/float
operator=input("Enter operator(+,-,*,/):")  #str
if operator=="+":
    result=num1+num2
    #print(result)
elif operator=="-":
    result=num1-num2
    #print(result)
elif operator=="*":
    result=num1*num2
    #print(result)
elif operator=="/":
    result=num1/num2
    #print(result)
else:
    print("Invalid Operator")
print("Answer is:")
print(result)

Enter no1: 12
Enter no2: 15
Enter operator(+,-,*,/): +

Answer is:
27

In [9]:
num1=eval(input("Enter no1:")) #integer/folat
num2=eval(input("Enter no2:"))  #int/float
operator=input("Enter operator(+,-,*,/):")  #str
if operator=="+":
    result=num1+num2
    #print(result)
elif operator=="-":
    result=num1-num2
    #print(result)
elif operator=="*":
    result=num1*num2
    #print(result)
elif operator=="/":
    result=num1/num2
    #print(result)
else:
    print("Invalid Operator")
print("Answer is:")
print(result)

Enter no1: 7
Enter no2: 5
Enter operator(+,-,*,/): *

Answer is:
35

In [10]:
num1=eval(input("Enter no1:")) #integer/folat
num2=eval(input("Enter no2:"))  #int/float
operator=input("Enter operator(+,-,*,/):")  #str
if operator=="+":
    result=num1+num2
    print("Addition is:",result)
elif operator=="-":
    result=num1-num2
    print("substraction is:",result)
elif operator=="*":
    result=num1*num2
    print("Multiplication is:",result)
elif operator=="/":
    result=num1/num2
    print("Division is:",result)
else:
    print("Invalid Operator")
print("Answer is:")
print(result)

Enter no1: 7
Enter no2: 5
Enter operator(+,-,*,/): *

Multiplication is: 35
Answer is:
35

# classify senior,teenager,child using age

In [23]:
age=int(input("enter your age :"))
if age >40:
    print("Senior")
elif age>18:
    print("Teenager")
else:
    print("Child")

enter your age : 39

Teenager

In [28]:
age=int(input("enter your age :"))
if age >50:
    print("Good")
elif age>18:
    print("Better")
else:
    print("Child")

enter your age : 55

Good

# leap yerar checker

In [4]:
#2025: not leap year
#2024: leap year
year=int(input("enter year"))
if year%4==0:
    print("leap year")
else:
    print("not leap year ")

enter year 2024

leap year

In [5]:
#year/4===>reminder : 0
#year/100===> reminder not 0
#year/400====> reminder0



year=int(input("enter year"))
if (year%4==0 and year %  100!=0) or (year%400==0):
    print("leap year")
else:
    print("not leap year")

enter year 1800

not leap year

In [6]:
2024%400 #(F and T) or (F ===> for F ===F

24

# positive and negative number changer

In [17]:
#positive > 0
num=float(input("Enter num :"))
if num>0:
    print(num, "is positive")
elif num==0:
    print("0 is neutral")
else:
    print(num, "is negative")

Enter num : 0

0 is neutral

## in which range does the given number fall :1-10,11-20,21-30 or above  30

In [24]:
n=int(input())
if 1<=n<=10:
   print("In range of 1-10")
elif 11<=n<=20:
   print("In range of 11-20")
elif 21<=n<=30:
   print("In range of 21-30")
else:
 print("above 30")

 40

above 30

# Homework

In [ ]:
# 1. classify temperature ranges: <=0:freezing, <10: cold,<30:warm >30:hot
#2 . student grade checker 
#90-100: A+ grade 
#70-80:B+ grade 
#60-70 :B gradee
#50-60 :C+ grade 
#40-50 :C grade 
#<40: fail

#3 . check two numbers are equal or not

In [41]:
# 1. classify temperature ranges: <=0:freezing, <10: cold,<30:warm >30:hot
temperature = float(input("Enter the temperature:"))
if temperature <= 0:
    print("Freezing")
elif temperature < 10:
    print("Cold")
elif temperature < 30:
    print("Warm")
else:
    print("Hot")

Enter the temperature: 31

Hot

In [50]:
#2 . student grade checker 
#90-100: A+ grade 
#70-80:B+ grade 
#60-70 :B gradee
#50-60 :C+ grade 
#40-50 :C grade 
#<40: fail
marks = float(input("Enter students marks (0-100): "))
if  90 <= marks < 100:
    print("A+ grade")
elif 70 <= marks < 90:
    print("B+ grade")
elif 60 <= marks < 70:
    print("B grade")
elif 50 <= marks < 60:
    print("C+ grade")
elif 40 <= marks < 50:
    print("C grade")
else:
    print("Fail")

Enter students marks (0-100):  61

B grade

In [56]:
#3 . check two numbers are equal or not 
a= int(input("enter first number:"))
b =int(input("enter second number:"))
if a== b:
    print(" both numbers are equal")
else:
    print("numbers are not equal")

enter first number: 14
enter second number: 15

numbers are not equal