# Bank ATM withdrawl condition

In [8]:
balance=5000
withdraw_ammount=4000
has_atm_card=True 

if has_atm_card:
    if withdraw_ammount<=balance:
        print("Transaction sucessful.")
    else:
        print("insufficient balance")
else:
    print("No atm card found")

Transaction sucessful.

In [10]:
balance=5000
withdraw_ammount=int(input("Enter ammount:"))
has_atm_card=input("Do you have ATM card?(yes/no):")

if has_atm_card=="yes":
    if withdraw_ammount<=balance:
        print("Transaction sucessful.")
    else:
        print("insufficient balance")
else:
    print("No atm card found")

Enter ammount: 400
Do you have ATM card?(yes/no): yes

Transaction sucessful.

# count vowels in a string

In [13]:
s="I am learning python"
vowels="aeiou"
seprate_vowels=[]
for char in s.lower():
    if char in vowels:
        seprate_vowels.append(char)
seprate_vowels

['i', 'a', 'e', 'a', 'i', 'o']

In [16]:
s="I am learning python"
vowels="aeiou"
seprate_vowels=""
for char in s.lower():
    if char in vowels:
        print(" ".join(char))

i
a
e
a
i
o

In [17]:
s="I am learning python"
vowels="aeiou"
seprate_vowels=""
for char in s.lower():
    if char in vowels:
        print(char,end=" ")

i a e a i o

# for loop on Dictionary

In [34]:
l=[13,45,67,86,74]
for i in l:
    if i>70:
        print(i)

86
74

In [47]:
marks={"chetna":78,"madhuri":45,"aditya":56,"gouri":98,"mihir":99}
#extract list of students with>70 marks

In [48]:
marks.items()

dict_items([('chetna', 78), ('madhuri', 45), ('aditya', 56), ('gouri', 98), ('mihir', 99)])

In [49]:
for name,score in marks.items():   #(key, value)
    if score>70:

        print(name,score)

chetna 78
gouri 98
mihir 99

# Task

In [ ]:
#prime number checker
#remove duplicate from the list
l=[1,1,1,2,2,3,54,4,2,21,1,12,3,8,9,9,7,6]
#sum of digit for each numbers in list
l=[123,4334,567,445,780,890]

In [60]:
 num = int(input("enter a number:"))
if num > 1:
    for i in range(2,int(num**0.5)+1):
        if num % i ==0:
            print("not prime")
            break
    else:
        print("Prime number")
else:
    print("not prime number")

enter a number: 13

Prime number

In [58]:
l=[1,1,1,2,2,3,54,4,2,21,1,12,3,8,9,9,7,6]
unique_list=[]
for i in l:
    if i not in unique_list:
        unique_list.append(i)
print("list without duplicate:",unique_list)

list without duplicate: [1, 2, 3, 54, 4, 21, 12, 8, 9, 7, 6]

In [66]:
#sum of digit for each numbers in list
l=[123,4334,567,445,780,890]
digit_sum=[sum(int(digit)for digit in str(num)) for num in l]
print("sum of digit for each numbers:", digit_sum)

sum of digit for each numbers: [6, 14, 18, 13, 15, 17]